# Discord bot
nextcord==3.1.1

# Web server
Flask==3.1.2
flask-cors

# Environment variables
python-dotenv

# HTTP requests
requests

# Supabase
supabase
supabase-auth
supabase-functions
storage3
postgrest
realtime
httpx>=0.24,<0.26

# Translator
googletrans==4.0.0-rc1
deep-translator
